{% include "partials/header.njk" %}

<div class="pt-xlarge"></div>
<section class="pb-medium" >
  <div class="container">
        <div class="border p-4 p-md-5 bg-light-2 w-md-60 mx-auto">
          {{ content | safe}}
        </div>
  </div>
</section>

{% include "partials/footer.njk" %}