---
layout: "layouts/base.njk"
title: Kontakt
description: Porozmawiajmy o namiocie, zabudowie lub wyposażeniu na Twoją kolejną wyprawę.
permalink: /kontakt/index.html
heroClass: subpage-hero-contact
---
{% include "templates/subpage-hero.njk" %}
{% include "sections/contact-map.njk" %}
