</main>

<footer class="site-footer pt-small pb-small" id="kontakt">
  <div class="footer-parallax">
    <div class="container">
        <div class="footer-top pb-small">
            <div class="row g-5">
                <div class="col-md-6">
                  <h2 class="color-light-1 xl">
                      Śpij pod gwiazdami <br>Budź się z przygodą
                  </h2>
                </div>
                <div class="col-md-6">
    
                </div>
            </div>
        </div>
        <div class="line-x"></div>
<!--
        <div class="row g-5 pb-medium">
                <div class="col-md-3">
                    <img src="/assets/img/logo/logo-dark.jpg" alt="Explore 4x4 Logo" class="footer-logo">
                </div>
                <div class="col-md-3">
                    <h3 class="color-light-1">
                    Oferta
                  </h3>
                </div>
                <div class="col-md-3">
                  <h3 class="color-light-1">
                    Nawigacja
                  </h3>
                </div>
                <div class="col-md-3">
                  <h3 class="color-light-1">
                    Kontakt
                  </h3>
                </div>
        </div>
-->
    </div>

    <div class="footer-bottom pt-xsmall text-center">
       
    </div>

  </div>
</footer>

{% include 'partials/foot.njk' %}