<section class="bg-dark-1" data-scroll-section>
    <div class="parallax-wrap">
        {% Image "./src//assets/img/hero/baner6.png", "Namiot dachowy na samochodzie terenowym" %}
    </div>
</section>
