<section class="banner bg-dark-1" data-scroll-section>
    <div class="parallax-wrap p-relative">
        {% Image "./src//assets/img/hero/baner6.png", "Namiot dachowy na samochodzie terenowym" %}
        <div class="container banner-content text-center">
            <div class="col-md-5 mx-auto">
              <h2 class="xl color-light-1 mb-0 split-lines">Skupieni na jakości</h2>
              <p class="color-light-2 fade-in">
                Zamień swój samochód w dom na kółkach! Nasze namioty dachowe to połączenie wygody, trwałości i wolności podróżowania bez ograniczeń.
              </p>
                                    <a href="https://ore4x4.pl/pl/419-namioty-dachowe" class="button-anim btn-write magnetic mt-2 fade-in" target="_blank" data-strength="40">
                                        <div class="button-anim-text">
                                            <span>Przejdź do sklepu</span>
                                            <span>Przejdź do sklepu</span>
                                        </div>
                                        <div class="button-anim-icon">
<svg height="18" viewBox="0 0 100 100" width="18" xmlns="http://www.w3.org/2000/svg" class="icon-link" style="enable-background:new 0 0 100 100" version="1.1" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><g><path d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z" fill="var(--color-accent-1)"></path><polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "></polygon></g></svg>
                                        </div>
                                    </a>
            </div>
        </div>
    </div>
</section>

<style>
.banner-content {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
}
@media(max-width:768px) {
     .banner img {
     aspect-ratio: 4/5;
     object-fit: cover
}

</style>