  <div class="parallax-container">

        <div class="parallax-layer layer-main"></div>
        
            <div class="hero-wrap">
          <div class="container">
            <div class="hero-text-wrap">
              <p class="hero-top-text mb-2 fade-in">
                Zabierz dom, gdziekolwiek prowadzi droga
              </p>
              <h1 class="xxl hero-title mt-0 mb-0 split-lines">Namioty dachowe</h1>
              <p class="hero-bottom-text fade-in">
                Zamień swój samochód w dom na kółkach! Nasze namioty dachowe to połączenie wygody, trwałości i wolności podróżowania bez ograniczeń.
              </p>
                                    <a href="#oferta" class="button-anim btn-write magnetic mt-2 fade-in" data-strength="40">
                                        <div class="button-anim-text">
                                            <span>Zobacz ofertę</span>
                                            <span>Zobacz ofertę </span>
                                        </div>
                                        <div class="button-anim-icon">
<svg height="18" viewBox="0 0 100 100" width="18" xmlns="http://www.w3.org/2000/svg" class="icon-link" style="enable-background:new 0 0 100 100" version="1.1" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><g><path d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z" fill="var(--color-accent-1)"></path><polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "></polygon></g></svg>
                          
                                        </div>
                                    </a>
                </div>
          </div>
    </div>
    </div>


