<section class="bg-dark-3" id="opinie">
<div class="pt-medium pb-large rounded-xl bg-light-1">
    <div class="container">
        <div class="col-md-6 mx-auto text-center mb-5">
            <h2 class="h1 mt-0 split-lines">
                Opinie klientów
            </h2>
            <p class="split-lines">
                Opinie są wiarygodne, wystawili je klienci, którzy skorzystali z naszych usług. 
            </p>
        </div>
        <div class="row g-3">
            {% for post in collections.reviews.slice(0, 12)%}
                <div class="col-md-6 col-xl-4 fade-in">
                    <div class="rounded-md shadow-1 p-5 bg-light-2">
                    <div class="review-card d-md-flex flex-column justify-content-between h-100">
                        <div class="opinion-content">

                            <p class="mt-3 mb-4">
                                {{ post.data.review }}
                            </p>
                        </div>
                        <div class="row g-3">
                            <div class="col-12 py-3">
                                <div class="line-x"></div>
                            </div>
                            <div class="col-auto">
                                <img src="{{ post.data.avatar }}" loading="lazy" decoding="async" class="opinion-avatar rounded-full shadow-2 p-1" width="44" height="44" alt="{{ post.data.client }}">
                            </div>
                            <div class="col-auto">
                                <p class="small my-0">
                                    <b>{{ post.data.title }}</b>
                                </p>
                                <p class="small my-1">
                                    {{ post.data.client }}
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>

<style>
    .opinion-avatar {
        width: 44px;
    }
    @media(min-width:767px) {
        .review-card {
            min-height: 240px;
        }
    }
</style>