<section class="pt-xsmall pt-md-small pb-small pb-md-large bg-light-2" data-scroll-section>
    <div class="container">
            <h2 class="xl split-lines mt-md-0 mb-4 mb-md-5">Zobacz nasze realizacje</h2>
            <div class="swiper swiper-works">
                <div class="swiper-wrapper"> 
                    {% for post in collections.works %} 
                    <div class="swiper-slide">
                    <div class="work-card bg-light-2 rounded-md">
                <div class="work-image-wrap p-2 rounded-md">
                    {% workImage "src/" + post.data.thumbnail, post.data.title %}
                </div>
                <div class="work-text-wrap p-4">
                <p class="mt-0 mb-1 small">
                {{ post.data.client }}
              </p>
              <h3 class="mt-0 mb-1">
                {{ post.data.title }}
              </h3>
              <p class="mb-3 small">
                {{ post.data.description }}
              </p>
              </div>
              </div>
                    </div>
                    <div class="pb-small"></div> {% endfor %}
                </div>
            </div>
            <button class="magnetic swiper-button-prev" data-strength="60" tabindex="0" aria-label="Previous slide" aria-controls="swiper-wrapper-4dc9810aaab19f970">
                <svg viewBox="0 0 61 61" xmlns="http://www.w3.org/2000/svg" width="61" height="61" fill="none">
                    <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
                    <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
                </svg>
            </button>
            <button class="magnetic swiper-button-next" data-strength="60" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-d2319810b78c58e2a" style="transform: rotate(0.005deg);">
                <svg viewBox="0 0 61 61" xmlns="http://www.w3.org/2000/svg" width="61" height="61" fill="none">
                    <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
                    <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
                </svg>
            </button>
            <div class="swiper-scrollbar"></div>
    </div>
</section>