<section class="p-relative" id="realizacje">
  <div class="pb-medium rounded-xl bg-light-1">
  <div class="container">
        <div class="pb-5">
            <h2 class="xl mt-0 split-lines">
                Zobacz nasze realizacje
            </h2>
        </div>

    <div class="row flex-md-row-reverse align-items-center">
      {% for post in collections.works.slice(0, 3) %}

            <div class="col-md-4">
                <div class="work-card bg-light-2 rounded-md">
                <div class="work-image-wrap p-2 rounded-md">
                    {% workImage "src/" + post.data.thumbnail, post.data.title %}
                </div>
                <div class="work-text-wrap p-4">
                <p class="mt-0 mb-1 small">
                {{ post.data.client }}
              </p>
              <h3 class="mt-0 mb-1">
                {{ post.data.title }}
              </h3>
              <p class="mb-3 small">
                {{ post.data.description }}
              </p>
              </div>
              </div>
            </div>

      {% endfor %}
    </div>

  </div>
  </div>
</section>

<style>
   .work-card-link {
   color: var(--color-heading)
   }
</style>